.banner
{
 color: white;
 object-fit: contain;
 height: 450px;
}
.banner_contents{
    margin-left: 30px;
    padding-top: 140px;
    height: 190px;
}
.banner_title
{
    font-size: 3rem;
    font-weight: 800;
    padding-bottom: 0.3rem;
}
.banner_discription{
    width: 400px;
    
}